nav {
    height: 50px;
    background-color: rgba(128, 195, 215, 0.52);
    display: flex;
    align-items: center;
}

a {
    color: #1f1fd7;
}

.Navigation-left {
    margin-left: 40px;
}

.Navigation-right {
    position: absolute;
    right: 40px;
    z-index: 1000;
}

.Navigation-Link-Jobly {
    font-size: x-large;
    text-decoration: none;

}

.Navigation-Link-Companies {
    text-decoration: none;
}
.Navigation-Link-Jobs {
    margin-left: 20px;
    text-decoration: none;
}